.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginpagelabel {
  margin-right: 30px;
  font-size: 20px;
}

.loginpagespan {
  margin-right: 10px;
}
